<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <p>Seleccione una opción:</p>

        <!-- Enlaces a Formularios -->
        <a href="/registrar-usuario" class="btn btn-primary">Registrar usuario</a>
        <a href="/registrar-empleado" class="btn btn-primary">Registrar Empleado</a>
        <a href="/registrar-paciente" class="btn btn-primary">Registrar Paciente</a>
        <a href="/registrar-solicitud" class="btn btn-primary">Registrar Paciente</a>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
